body {
    font-family: 'Barlow';
    box-sizing: border-box;
    min-height: 100%;
  }
  
  .get-quote{
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 100vw;
    position: absolute;
    bottom: 0;
  }

  .quote-title h1 {
      display: flex;
      justify-content: center;
      align-items: center;
      color: #fff;
      margin: 0;
      margin-top: 20px;
      background-color: #303956;  
  }

  .form-inline {
    min-height: 15vh;
    max-height: 20vh;
    min-width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #303956;
  }
  
  .form-inline input {
    display: flex;
    align-items: center;
    vertical-align: middle;
    margin: 5px 10px 5px 0px;
    padding: 15px;
    border-radius: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
  }
  
  .form-inline button {
    padding: 10px 20px;
    background-color: #c30000;
    border: 1px solid #ddd;
    color: white;
    cursor: pointer;
    border-radius: 10px;
  }
 
  .form-inline select{
    display: flex;
    align-items: center;
    vertical-align: middle;
    margin: 5px 10px 5px 0px;
    padding: 15px;
    border-radius: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
  }


  
  @media screen and (max-width: 1270px) {

   

    .form-inline {
      min-height: 15vh;
      max-height: 50vh;
      min-width: 100%;
      display: grid;
      grid-template-columns: repeat(3,auto);
      align-items: center;
      justify-content: center;
      background-color: #303956;
    }
    .validate-input {
      padding: 5px;
    }
    
    
    .form-inline input {
      display: flex;
      align-items: center;
      vertical-align: middle;
      margin: 5px 5px 5px 0px;
      padding: 10px;
      background-color: #fff;
      border: 1px solid #ddd;
    }
    
    .form-inline button {
      padding: 10px 20px;
      background-color: #c30000;
      border: 1px solid #ddd;
      color: white;
      cursor: pointer;
      border-radius: 10px;
    }
   
    .form-inline select{
      display: flex;
      align-items: center;
      vertical-align: middle;
      margin: 5px 10px 5px 5px;
      padding: 15px;
      border-radius: 10px;
      background-color: #fff;
      border: 1px solid #ddd;
    }

    input.input-box {
      height: 50px;
      border-radius: 10px;
      padding: 0 50px;
    }
  }
  

  
  @media screen and (max-width: 765px) {
   

    .form-inline {
      min-height: 60vh;
      max-height: 60vh;
      min-width: 100%;
      display: grid;
      grid-template-columns: repeat(1,auto);
      align-items: center;
      justify-content: center;
      background-color: #303956;
    }
    .validate-input {
      padding: 5px;
    }
  }