/* Navigation */

nav {
	font-family: 'Manrope', sans-serif;
	height: 80px;
	width: 100%;
	display: flex;
	font-weight: 700;
	text-transform: uppercase;
	justify-content: center;
	align-items: center;
	font-size: 1rem;
	position: fixed;
	top: 0;
	margin: 0;
	z-index: 999;
}

.nav {
	background: #292929;
	font-family: 'Manrope', sans-serif;
	height: 80px;
	width: 100%;
	display: flex;
	font-weight: 700;
	text-transform: uppercase;
	justify-content: center;
	align-items: center;
	font-size: 1rem;
	position: fixed;
	flex-direction: row;
	top: 0;
	margin: 0;
	z-index: 999;
	opacity: 0.95 !important;
    
  }

  .nav-menu {
	display: flex !important;
	  margin: 0;
  }
  
  .navbar-container {
	display: block;
	position: inherit;
	justify-content: center;
	align-items: center;
	height: 80px;
	max-width: 1800px;
  }
  
  .navbar-logo {
	display: block;
    font-family: "Edge Of Madness";
	color: #D52228;
	letter-spacing: 3px;
	cursor: default;
	font-weight: 900;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 1.4em;
	display: flex;
	margin-right: auto;
	margin-left: 4rem;
  }
  
  .fa-tree {
	margin-left: 1.0rem;
	font-size: 1.8rem;
  }
  
  .nav-menu-maintenance {
	display: grid;
	grid-template-columns: repeat(1, auto);
	grid-gap: 10px;
	list-style: none;
	text-align: center;
	width: 10vw;
	justify-content: center;
  }
  
  .nav-item {
	height: 80px;
	color: #303956;
  }
  
  .nav-links {
	font-family: "Barlow";
	color: #fff;
	display: flex;
	align-items: center;
	text-decoration: none;
	padding: 0rem 1.2rem;
	height: 100%;
  }

  .qbtn {
	display: inline-block;
	font:normal normal 300 1.1em 'Barlow';
	font-weight: 700;
	text-decoration:none;	
	color:#fff;
	background-color: var(--secondary-color);
	border: 1.5px solid #fff;
	border-radius: 10px;
	padding: .6rem 1rem;
	margin-right: 10%;
	background-size: 200% 100%;	
	background-image: linear-gradient(to right, transparent 50%, var(--main-color) 50%);
	transition: background-position 1.5s cubic-bezier(0.19, 1, 0.22, 1) .1s, color .5s ease 0s, background-color 2s ease;
}


  .qbtn:hover {
	color:rgba(255, 255, 255, 1);
	background-color:var(--main-color);
	background-position: -100% 100%;
	border: 2px solid #fff;
	cursor: pointer;
  }
  
  .nav-links:hover {
     color: var(--secondary-color);
	border-bottom: 2px solid var(--secondary-color);
	transition: all 1s ease-out;
	cursor: pointer;
  }
  
 

  .menu-icon {
	display: hidden;
  }
  
 

  @media screen and (max-width: 1200px) {

	
	.nav-menu {
	  display: flex;
	  flex-direction: column;
	  width: 100vw;
	  height: auto;
	  position: absolute;
	  top: 80px;
	  transition: all 0.5s ease;
	  background-color: #292929;
	}
  
	.nav-links .active ul li{
		visibility: gone;
		color: blue;
	}
	.nav-links {
	display: block;
	  text-align: center;
	  width: 100%;
	  display: flex;
	  margin-top: 5px;
	}


	.nav-menu:hover, .nav-links:hover{
		background-color: #292929;
	}
  
	.navbar-logo {
	  position: absolute;
	  top: 0;
	  left: 0;
	}
  
	.menu-icon{
		height: 70px;
		margin-top: 12px;
		display: flex;
	}
	
	.qbtn {
		right: 0;
		display: none;
	}
  }

