@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@700&display=swap');
:root {
    --main-color: #252525;
    --secundary-color: #D42424;
}

body, html {
    font-family: "Bebas Neue", sans-serif;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialised !important;
    color: var(--main-color);
    font-weight: 400;
    width: 100% !important;
    height: 100% !important;
    box-sizing: border-box;
    font-smooth: always;
    -moz-osx-font-smoothing: grayscale;
}

h2, h3,h4 {
    font-family: "Bebas Neue", sans-serif;
}

li {
    margin-bottom: 5px;
}

/* Navigation */
.navbar {
	background: #FFFFFF;
	font-family: 'Manrope', sans-serif;
	height: 80px;
	display: flex;
	font-weight: 700;
	text-transform: uppercase;
	justify-content: center;
	align-items: center;
	font-size: 1rem;
	position: sticky;
	top: 0;
	z-index: 999;
	box-shadow: 0 2px 2px 0.5px rgba(0,0,0,.1);
  }
  
  .navbar-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 80px;
	max-width: 1500px;
  }
  
  .navbar-logo {
    font-family: "Fredoka One";
	color: var(--secundary-color);
	letter-spacing: 2px;
	justify-self: center;
	cursor: default;
	font-weight: 700;
	text-decoration: none;
	font-size: 2rem;
	display: flex;
	align-items: center;
  }
  
  .fa-tree {
	margin-left: 1.0rem;
	font-size: 1.8rem;
  }
  
  .nav-menu {
	display: grid;
	grid-template-columns: repeat(5, auto);
	grid-gap: 10px;
	list-style: none;
	text-align: center;
	width: 35vw;
	justify-content: end;
	margin-right: 2rem;
  }
  
  .nav-item {
	height: 80px;
  }
  
  .nav-links {
	font-family: "Barlow";
	color: #35383C;
	display: flex;
	align-items: center;
	text-decoration: none;
	padding: 0rem 1.2rem;
	height: 100%;
  }

  .qbtn {
	  font-family: "Barlow";
	  color: #fff;
	  background-color: var(--secundary-color);
	  border:none;
	  font-size: 17px;
	  display: flex;
	  align-items: center;
	  text-decoration: none;
	  height: 100%;
	  padding: 0rem 1rem;
  }

  .qbtn:hover {
	  color: #fff;
	  background-color: #c30000;
	  
  }
  
  .nav-links:hover {
      color: var(--secundary-color);
	border-bottom: 2px solid var(--secundary-color);
	transition: all 0.1s ease-in;
  }
  
 
   
  .fa-bars {
	color: #fff;
  }
  
  .nav-links-mobile {
	display: none;
  }
  
  .menu-icon {
	display: none;
  }
  
  @media screen and (max-width: 960px) {
	.NavbarItems {
	  position: relative;
	}
  
	.nav-menu {
	  display: flex;
	  flex-direction: column;
	  width: 100%;
	  height: 90vh;
	  position: absolute;
	  top: 80px;
	  left: -100%;
	  opacity: 1;
	  transition: all 0.5s ease;
	}
  
	.nav-menu.active {
	  background: #EFA01D;
	  left: 0;
	  opacity: 1;
	  transition: all 0.5s ease;
	  z-index: 1;
	}
  
	.nav-links {
	  text-align: center;
	  padding: 2rem;
	  width: 100%;
	  display: table;
	}
  
	.nav-links:hover {
	  background-color: #fff;
	  color: #EFA01D;
	  border-radius: 0;
	}
  
	.navbar-logo {
	  position: absolute;
	  top: 0;
	  left: 0;
	  transform: translate(25%, 50%);
	}
  
	.menu-icon {
	  display: block;
	  position: absolute;
	  top: 0;
	  right: 0;
	  transform: translate(-100%, 60%);
	  font-size: 1.8rem;
	  cursor: pointer;
	}
  
	.fa-times {
	  color: #fff;
	  font-size: 2rem;
	}
  
	.nav-links-mobile {
	  display: block;
	  text-align: center;
	  margin: 2rem auto;
	  border-radius: 4px;
	  width: 80%;
	  text-decoration: none;
	  font-size: 1.5rem;
	  background-color: transparent;
	  color: #fff;
	  padding: 14px 20px;
	  border: 1px solid #fff;
	  transition: all 0.3s ease-out;
	}
  
	.nav-links-mobile:hover {
	  background: #fff;
	  color: #242424;
	  transition: 250ms;
	}
  }
  

  /* Home */

  .home {
	  top: 0;
	  position: relative;
	  height: 100%;
	  max-width: 100%;
	  display: flex;
	  justify-content: center;
	  align-items: center;
	  background-color: var(--main-color);
  }


  .some-page-wrapper {
	margin: 15px;
	height: 100%;
	
  }
  
  .home-row {
	display: flex;
	flex-direction: row;
	align-self: center;
	align-content: center;
  }
  
  .home-column {
	width: 50%;
	height: 100%;
  }
  
  .home-column-right {
	background-color: green;
	width: 50%;
  }



  h1{
	  color: #fff;
  }

  .image {
	  width: 100vh;
	  height: 100%;
	  z-index: -1;
	  background-size: cover !important;
  }

.right-arrow {
	position: absolute;
	top: 50%;
	right: 32px;
	font-size: 3rem;
	color: antiquewhite;
	z-index: 10;
	cursor: pointer;
	user-select: none;
}

.left-arrow {
	position: absolute;
	top: 50%;
	left: 32px;
	font-size: 3rem;
	color: antiquewhite;
	z-index: 10;
	cursor: pointer;
	user-select: none;
}

.slide {
	opacity: 0;
	transition-duration: 1s ease;
}

.slide.active {
	opacity: 1;
	transition-duration: 1s;
	transform: scale(1.08);
}




/* Home 2 */

.row {
	display: flex;
	flex-direction: row;
	align-self: center;
	align-content: center;
}

.column-left {
	width: 50%;
	height: 100vh;
}

.column-right {
	width: 50%;
}